<div class="app-enabler" data-controller="AppCtrl" data-action="Enabler" data-enabler-on="true" data-id="<%= app.id %>">
  <button class="switch" data-enabler="on">ON</button>
  <button class="switch" data-enabler="off">OFF</button>
</div>

