<div class="app-summary" data-controller="AppCtrl" data-action="Preview" data-id="<%= app.id %>">
  <div class="logo" style="background-image:url(http://placehold.it/76x76);"></div>

  <a class="name" href="<%= app_path(app) %>">
    <h1><%= app.name %></h1>
  </a>

  <div class="rate-limit">
    <span class="label">Rate Limit</span>
    <span class="actual">854</span>
    <span class="maximum">/ 1000</span>
  </div>

  <a href="<%= app_tier_path(app) %>" class="cta-upgrade-tier">
    Upgrade Tier
  </a>
</div>
