<div class="sign-in-form js-shownable">
  <span class="button" id="toggle-login" data-shownable="button">
    Sign In
  </span>

  <div class="site-login" data-shownable="target">
    <div class="triangle"></div>
    <h1>Sign In</h1>
    <form action="/sign_in" method="POST">
      <input type="email" name="client[email]" placeholder="Email" />
      <input type="password" name="client[password]" placeholder="Password" />
      <input type="submit" value="Sign in" />
    </form>
  </div>
</div>
