<div class="app-builder row">
  <div class="constructor col third" data-controller="AppBuilder" data-action="Constructor">
    <div class="resource-list">
      <div class="nav-bar row">
        <span class="nav-bar-title">Resources</span>
      </div>
      <ul class="row">
        <li class="item">Users</li>
        <li class="item">Users</li>
        <li class="item">Users</li>
        <li class="item">Users</li>
        <li class="item">Users</li>
      </ul>
    </div>

    <div class="resource-view row">

    </div>
  </div>
</div>
