<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RestInMe - AppBuilder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/stylesheets/app_builder.css">
  </head>
  <body>
    <div class="site">
      <%= erb :header %>

      <div class="site-page row">
        <%= yield %>
      </div>
    </div>

    <script src="/assets/javascripts/polyfills.js"></script>
    <script src="/assets/javascripts/handlebars.js"></script>
    <script src="/assets/javascripts/zepto.js"></script>
    <script src="/assets/javascripts/stik-core.js"></script>
    <script src="/assets/javascripts/stik-courier.js"></script>
    <script src="/assets/javascripts/stik-view-bag.js"></script>
    <script src="/assets/javascripts/stik-dom-lib-loader.js"></script>
    <script src="/assets/javascripts/behaviors/shownable.js"></script>
    <script src="/assets/javascripts/app_builder.js"></script>
  </body>
</html>

