<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RestInMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/stylesheets/application.css">
  </head>
  <body>
    <%= erb :header %>

    <div class="site row">
      <ul class="site-sidebar col fifth">
        <a href="/my_apps">My Apps</a>
      </ul>
      <div class="site-page col o-fifth">
        <%= yield %>
      </div>
    </div>

    <script src="/assets/javascripts/zepto.js"></script>
    <script src="/assets/javascripts/stik-core.js"></script>
    <script src="/assets/javascripts/stik-courier.js"></script>
    <script src="/assets/javascripts/stik-view-bag.js"></script>
    <script src="/assets/javascripts/stik-dom-lib-loader.js"></script>
    <script src="/assets/javascripts/behaviors/shownable.js"></script>
    <script src="/assets/javascripts/application.js"></script>
  </body>
</html>
