<div class="my-apps">
  <a href="/apps/new">create an awesome app</a>

  <ul class="app-list">
    <% @apps.each do |app| %>
      <li>
        <a href="/apps/<%= app.system_name %>" class="">
          <%= app.name %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
