<div class="site-header row">
  <div class="client-menu col fifth">
    <span class="email">
      <%= current_client.email %>
    </span>

    <div class="options">
      <a href="/apps">Apps</a>
    </div>
  </div>
</div>
