<div class="site-header row">
  <div class="client-menu row">
    <h1 class="email">
      <%= current_client.email %>
    </h1>
  </div>

  <div class="nav-menu row">
    <a class="active" href="/my_apps">
      <h1>Apps</h1>
    </a>

    <a class="new-app button positive" href="/builder">New</a>
  </div>
</div>
