<div class="sign-up-form">
  <h3>Sign Up</h3>

  <form class="sign-up" action="/sign_up" method="post">
    <input type="text" name="client[email]" placeholder="Email" />
    <input type="password" name="client[password]" placeholder="Password" />

    <input type="submit" value="Create" />
  </form>
</div>

<%= erb :_login %>
