<div class="my-apps">
  <% @apps.each do |app| %>
    <%= erb :_app_summary, locals: { app: app } %>
    <%= erb :_app_summary, locals: { app: app } %>
    <%= erb :_app_summary, locals: { app: app } %>
  <% end %>
</div>
