<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>RestInMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
  </head>
  <body>
    <% if current_client.signed_in? %>
      <%= erb :header %>
    <% end %>

    <div class="site-page">
      <%= yield %>
    </div>

    <script src="/stylesheets/skeleton.css"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
