<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Authk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/bootswatch.min.css">
  </head>
  <body>
    <%= erb :header %>

    <div class="container">
      <%= yield %>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../assets/js/bootswatch.js"></script>
  </body>
</html>
