@import "reset"
@import "grid"

@import "colors"

@import "defaults"

@import "header"

.app-builder .nav-bar
  overflow hidden
  padding 10px
  border-bottom 1px solid black

  .title
    text-transform capitalize

.app-builder
  .list, .constructor
    color white
    height 100%
    background-color gray

  .constructor
    display none

.app-builder .list
  ul
    list-style-type none

  .item
    padding 10px
    text-transform capitalize

    &:hover
      cursor pointer

.preview
  padding 15px

.constructor
  .back-to-list
    text-align center

    &:hover
      cursor pointer

  .fields
    padding 10px

  fieldset
    margin 15px 0

.resource-preview
  float left
  width 250px
  margin 0 15px
  background-color #FFFFFF
  border 2px solid black

  &.selected
    border-color yellow

  > *
    padding 5px

  .title
    background-color #CCCCCC
    text-transform capitalize
    border-bottom 2px solid black

    &:hover
      cursor pointer

  .fields
    list-style-type none
