@import "reset"
@import "grid"

@import "colors"

@import "defaults"

@import "header"

.resource-list
  color white
  height 100%
  background-color gray

  .nav-bar
    padding 10px
    border-bottom 1px solid black

  .item
    padding 10px

