@import "colors"
@import "fonts"
@import "app_enabler"

.app-preview
  position relative
  height 200px
  display block
  padding 10px
  transition background-color 0.5s ease
  background-color green
  color white
  text-decoration none

.rate-limit
  .actual
    font-size font-big

  .maximum
    font-size font-small
