@import "reset"
@import "grid"

@import "colors"

@import "defaults"

@import 'header'
@import 'app_summary'

.my-apps-list
  margin-bottom 10px

.new-entity
  min-height 75px
  padding 0

.entity-preview
  hr
    color black

.endpoint-preview
  margin-bottom 20px

.endpoint-preview-params
  margin-top 10px
  border 1px solid dark-gray

  thead
    background-color white
  tbody
    background-color super-dark-gray

.entity-preview-name
  min-height 30px
  display inline-block
