gray = #555555
dark-gray = darken(gray, 5%)
super-dark-gray = darken(gray, 7%)
gray-blue = #567
main-bg = #E3C9A5
white = #FFFFFF
green = #00A300

app-gray = #CCCCCC

primary-color = #253332
secundary-color = #00B286
tertiary-color = #FF5722
quaternary-color = #FFFFFF

primary-text-color = #FFFFFF

link-active = #FF0000
