@charset 'UTF-8'

@import 'fonts'

body
  background main-bg
  color #FFFFFF
	line-height 20px
  font-family Roboto-Regular, Helvetica, Arial
  font-size 14px

h1
  font-size 20px

a, a:visited
  color currentcolor
  text-decoration none

.site
  padding-top 40px
