.row
  width 100%
  display block
  margin 0 auto
  overflow hidden
  word-wrap break-word

.col
  float left
  display inline-block
  box-sizing border-box
  margin-right 1%

  &:last-child
    margin-right 0

.full
  width 100%

.half
  width 49%

.third
  width 32.333%

.fourth
  width 24%

.fifth
  width 19%

.o-fifth
  width 79%
