@import 'colors'

.site-header
  height 40px
  color white
  padding 10px
  background-color gray-blue

.client-menu
  position relative

  &:hover .options
    display block

  .email
    &:hover
      cursor pointer

  .options
    top 18px
    left -10px
    width 80%
    position absolute
    display none
    background-color gray-blue

    a
      padding 10px
      display block
      color #fff
      text-shadow 0 -1px 0 #000
