@import 'reset'
@import 'grid'

@import 'colors'

site-width = 800px
big-font = 22px

@import 'header'

body
  font 16px Helvetica, Arial, sans-serif
  background-color gray

  *
    color black

.site-page
  width site-width
  margin 0 auto

.new-entity
  min-height 75px
  padding 0

.entity-preview
  hr
    color black

.endpoint-preview
  margin-bottom 20px

.endpoint-preview-params
  margin-top 10px
  border 1px solid dark-gray

  thead
    background-color white
  tbody
    background-color super-dark-gray

.entity-preview-name
  min-height 30px
  display inline-block
