@import '../colors'

.button
  width 100px
  height 30px
  display block
  padding 7px
  text-align center
  cursor pointer
  box-sizing border-box
  border-radius 15px
  transition background .3s
  -webkit-transition background .3s

  &.positive
    background secundary-color
    color primary-text-color

  &:visited
    text-decoration none
